.education {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.education__title {
    padding: 10px;
    font-size: 40px;
    color: #cf2f2f;
    display: inline-block;
    margin: 20px;
}

.title-icon {
    margin-left: 10px;
}


.level {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.level__title {
    padding: 10px;
    border-bottom: 4px double #000;
    border-top: 4px double #000;
    color: #d94f5c;
    margin: 20px;
    font-size: 30px;
}

.level__title--little {
    border: none;
    font-size: 25px;
}

.fa-child {
    font-size: 40px;
    color: #f14c5c;
}

.level__text{
    text-align: justify;
}

.list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list {
    max-width: 1000px;
}

.list li {
    margin: 10px;
    background: rgb(236, 218, 218);
    border-radius: 10px;
    padding: 10px;
}

.module-container {
    width: 100%;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.module {
    margin: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 10px solid #d94f5c;
    width: 70%;
}

.module--small {
    min-width: 150px;
    max-width: 500px;
}

.module__title {
    text-align: center;
    padding: 5px;
    background: rgb(253, 85, 55);
    margin: -21px -21px 20px -21px;
    list-style: none;

}

.module__title--light {
    background: rgb(255, 163, 146);
}

.submodule {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content:space-between; */
}

.module__list {
    list-style: none;
    padding: 5px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-wrap: wrap;
}

.module__list-item {
    font-size: 20px;
    color: #424242;
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin-left: 6px;
    letter-spacing: .3px;
    margin-bottom: 20px;
}

.module--img {
    min-height: 200px;
    max-width: 500px;
    justify-content: center;
}

.module__img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    /* margin: 10px; */
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.fa-check {
    margin-right: 7px;
}


@media only screen and (max-width: 1450px) {
    .list-container {
        flex-wrap: nowrap;
    }
}


@media only screen and (max-width: 1024px) {
    .list-container {
        justify-content: center;
        flex-wrap: wrap;
    }
    
}


/* @media only screen and (max-width: 450px) {
    .module-container{
        padding: 5px;
    }
    .module--preparatoria{
        width: 300px;        
    }
} */

@media only screen and (max-width: 430px){
    .module__title{
        margin:0px
    }
    .module-container{
        padding: 0px;
        margin: 0px;
    }
    .module--preparatoria{
        max-width: 300px;  
        padding: 0px;
        margin: 10px;      
    }

    .module{
        border: 7px solid #d94f5c;
        padding: 0px;
    }

    .module--small{
        margin: 15px;
        padding: 0px;
        border: 4px solid #d94f5c;
    }
}


@media only screen and (max-width: 375px) {
    .module__title{
        margin:10px
    }
    .education {
        margin: 0px;
        align-items: center;
    }
    
    .level {
        /* min-width: 2px; */
        max-width: 375px;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    
    .level__title {
        max-width: 170px;
        padding: 0px;
        margin: 5px;
        font-size: 17px;
    }
    
    .module-container{
        max-width: 250px;
        padding: 0px;
        margin: 0px;
    }

    .module__list{
        max-width: 200px;
    }

    .submodule{
        max-width: 200px;
    }
    
    .fa-child {
        font-size: 20px;
    }
    
    .level__text {
        font-size: 14px;
        max-width: 185px;
        text-align: justify;
    }
    
    .list-container {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .list {
        max-width: 180px;
    }
    
    .list li {
        margin: 10px;
        background: rgb(236, 218, 218);
        border-radius: 10px;
        padding: 10px;
    }
    
    .module{
        min-width: 150px;
        max-width: 210px;
       margin: 9px;
        padding: 0px;
        border: 5px solid #d94f5c;
    }
    .module--preparatoria{
        max-width: 250px;  
        padding: 0px;      
    }
    .title{
        font-size: 18px;
    }

    .module__title{
        font-size: 14px;
        margin: -1px;
        padding: 5px;
    }

    .carrousel__button{
        visibility: hidden;
    }
    .module__list-item {
        font-size: 11px;
    }
}
/* 
@media only screen and (max-width: 280px){
    .level{
        max-width: 280px;
    }
    .module__title{
        margin:10px
    }
} */