.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px 40px;
}

.text-container__img{
    /* min-width: 150px; */
    max-width: 300px;
    float: right;
    object-fit: cover;
}

.division-container{
    text-align: start;
    min-width: 1100px;
}

.division{
    margin: 0px 15px;
    padding: 10px;
    max-width:1000px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.division__img{
    max-height: 100px;
    max-width: 100px;
    margin: 0px 15px;
    min-height: 80px;
    object-fit: contain;
    float: right;
}

.module{
    max-width: 100%;
}

