   /* INFORMACION DE LA INSTITUCION */
   .info {
    display: flex;
 flex-direction: column;
 margin: 10px;
 padding: 20px;
}

.info__card {
 width: 600px;
 margin: 40px;
 display: flex;
 flex-direction: column;
 text-align: left;
 justify-content: center;
}


.info__card--right {
 text-align: right;
 margin-right: 0px;
}

.info__card-container {
 margin: 20px;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
}

.info__card-container--right {
 justify-content: flex-end;
}

.info__card-text {
 font-size: 18px;
 font-weight: 400;
}

.info__card-title {
 margin-bottom: 20px;
 color: #cf2f2f;
 letter-spacing: 1.2px;
 font-weight: 600;
}

.info__card-icon {
 margin-left: 30px;
 font-size: 40px;
}

.info__card-thumb {
 width: 600px;
 object-fit: cover;
 margin-left: 100px;
 position: relative;
 transition: all, 1s;
 right: 0;
 bottom: 0;
 opacity: 0.4;
 box-shadow: 3px 3px 5px #797979;
}

.info__card-thumb:hover {
 box-shadow: 10px 10px 5px #797979;
 cursor: pointer;
 right: 15px;
 bottom: 15px;
 opacity: 1;
}

.info__card-thumb--right:hover {
 cursor: pointer;
 bottom: 15px;
 right: -15px;
}

.info__card-thumb--right {
 margin-left: 0px;
 margin-right: 100px;
}


.info__card-container--personal {
 justify-content: center;
}

.info__card--personal {
 width: 1000px;
 text-align: center;
}

.info__card-gallerie {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}

.info__card-gallerie-section {
 width: 201px;
 height: 257px;
 padding: 2rem 1rem;
 background: #fff;
 position: relative;
 display: flex;
 align-items: flex-end;
 box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
 transition: all 0.5s ease-in-out;
}

.info__card-gallerie-section:hover {
 box-shadow: 15px 7px 10px rgb(141, 141, 141);
 cursor: pointer;
}

.info__card-gallerie-section:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 width: 100%;
 height: 100%;
 z-index: 2;
 opacity: 1;
}

.info__card-gallerie-section:hover:before {
 background-image: linear-gradient(to bottom, rgba(230, 218, 218, 0.502), #e05757);
 opacity: 1;
}

.info__card-gallerie-section .info__card-img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 position: absolute;
 top: 0;
 left: 0;
 transition: all .5s ease;
}

.info__card-gallerie-section .info__card-gallerie-section-caption {
 position: relative;
 z-index: 3;
 color: #fff;
 opacity: 0;
 transform: translateY(30px);
 transition: 0.5s all;
 height: 400px;
}

.info__card-gallerie-section:hover .info__card-gallerie-section-caption {
 opacity: 1;
 transform: translateY(0px);
}

.info__card-gallerie-section .info__card-gallerie-section-caption h3 {
 margin-bottom: 20px;
}

.info__card-gallerie-section .info__card-gallerie-section-caption h4 {
 margin-bottom: 20px;
}

.info__card-gallerie-section .info__card-gallerie-section-caption .gallerie__img-links {
 text-decoration: none;
 padding: .5rem 1rem;
 background: #fff;
 color: #000;
 font-size: 14px;
 font-weight: bold;
 cursor: pointer;
 transition: 0.4s ease-in-out;
}

.info__card-gallerie-section .info__card-gallerie-section-caption .gallerie__img-links:hover {
 box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}


