.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px 40px;
}

.text-container__img{
    /* min-width: 150px; */
    max-width: 300px;
    float: right;
    object-fit: cover;
}

.division-container{
    text-align: start;
    min-width: 1100px;
}

.division{
    margin: 0px 15px;
    padding: 10px;
    max-width:1000px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.division__img{
    max-height: 100px;
    max-width: 100px;
    margin: 0px 15px;
    min-height: 80px;
    object-fit: contain;
    float: right;
}


.title{
margin-bottom: 20px;
 color: #cf2f2f;
 letter-spacing: 1.2px;
 font-weight: 700;
}

.title--little{
    display: block;
    margin: 15px 0px 7px 15px;
    align-self:flex-start;
}

.title--a{
    font-style:italic;
    text-decoration: none;
}

.text{
    flex-direction: row;
    display: flex;
    align-items: center;
}
.text-p{
    /* display: inline-block; */
    letter-spacing: .8px;
    font-weight: 500;
    /* float: left; */
}